@model IEnumerable<ArticlesListingsServiceModel>

@{
    ViewData["Title"] = "News";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    @await Html.PartialAsync("_AllArticlesPartial.cshtml", Model)
</div>
