@model MissingPeoplePageListingModel

@{
    ViewData["Title"] = "Missing People";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br/>
<div class="row form-group">
    <form asp-action="Search">
        <div class="col-md-12">
            <div class="col-md-6">
                <input asp-for="SearchByFirstName" placeholder="First name..." class="form-control form-search-margin" />
                <input asp-for="SearchByLastName" placeholder="Last name..." class="form-control form-search-margin" />
                <input asp-for="SearchByDistinguishMarks" placeholder="Distinguish marks..." class="form-control form-search-margin" />
                <input asp-for="SearchByAge" min="0" max="120" step="1" placeholder="Age..." class="form-control form-search-margin" />
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <label asp-for="EnableGenderSearch"></label>
                    <input asp-for="EnableGenderSearch" />
                    <select asp-for="SelectedGender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="EnableCountrySearch"></label>
                    <input asp-for="EnableCountrySearch" />
                    <select name="SelectedCountryId" asp-items="Model.Countries" class="form-control dropdown">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                </div>
                <div class="col-md-2 pull-right">
                    <input type="submit" name="submit" value="Search" class="btn btn-primary pull-right search-button" />
                </div>
            </div>
        </div>
    </form>
</div>
<hr class="custom-hr"/>
<div class="row col-md-12 body-missing">
    @await Html.PartialAsync("_MissingPeopleListingsPartial", Model)
</div>
