@{
    ViewData["Title"] = "Home Page";
}
<body id="bootstrap-override">

    <div class="col-md-12">
        <div class="col-md-12" id="main-headings">
            <h2>Who are we?</h2>
            <p>INTERPOL enables police in our 192 member countries to work together to fight international crime. We provide a range of policing ﻿expertise and capabilities, supporting three main ﻿crime programmes: Counter-terrorism, Cybercrime, and Organized and emerging crime.</p>
        </div>
        <div class="col-md-12 main-section-homepage" id="main-headings">
            <h2>Main crime programmes</h2>
            <div class="col-md-4 ">
                <h3>Counter-terrorism</h3>
                <p>Our counter-terrorism programme includes initiatives against foreign terrorist fighters and CBRNE materials (chemical, biological, radiological, nuclear and explosives).</p>
                <img src="https://www.antena3.ro/thumbs/big3/2015/01/09/america-va-ramane-asigurata-impotriva-actelor-de-terorism-congresul-sua-a-reinnoit-programul-de-290332.jpg" width="100%" />
            </div>
            <div class="col-md-4 ">
                <h3>Cybercrime</h3>
                <p>This newely developed innovative programme works to identify emerging threats, protect people from cybercrime, support investigations and develop new technologies against cybercrime.</p>
                <img src="https://sacsconsulting.com/wp-content/uploads/2017/04/cyber-crime.jpg" width="100%" />
            </div>
            <div class="col-md-4 ">
                <h3>Organized and emerging crime</h3>
                <p class="emergincrime-polish">﻿Our wide-ranging activities focus on transnational crime issues including criminal networks, vulnerable communities and illicit markets.</p>
                <img src="https://douglascrawfordlaw.com/wp-content/uploads/2016/12/iStock_000011711335_Medium-1080x675.jpg" width="100%" />
            </div>
            <div class="col-md-12 main-section-homepage" id="main-headings">
                <h2>Interpol Video</h2>
                <iframe width="600" height="338" align="middle" src="https://www.youtube.com/embed/oJG3gxKwtj4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            </div>
        </div>

    <div id="background"></div>
</body>
