@model InterpolSystem.Web.Areas.BountyAdmin.Models.MissingPeople.ChargeViewModel

@{
    ViewData["Title"] = "CreateCharge";
}

<hr />
<form asp-area="BountyAdmin" asp-controller="WantedPeople" method="post">

    <div class="row">
        <div class="col-md-4">
            <div style="display:none" class="form-group">
                <label asp-for="WantedPersonId" class="control-label"></label>
                <input asp-for="WantedPersonId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Countries"></label>
                <select name="SelectedCountries" asp-items="Model.Countries" rows="10" id="fixedHeight" class="form-control" multiple></select>
                <small class="text-danger">*Hold Ctrl to select multple countries</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary save-charge">Save</button>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    if ($(".alert-success")[0]) {
                        $(".description").val("");
                        console.log("funguje");

                    }})
            </script>
        </div>
    </div>
</form>
@{ var wantedPersonId = Model.WantedPersonId; }
<div>
    <a asp-action="Details" asp-route-id ="@wantedPersonId">View details</a>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
