@model WantedPeopleFormViewModel

@{
    ViewData["Title"] = "Edit person";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_WantedPeopleForm", Model)
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
