@model UserListingsViewModel

@{
    ViewData["Title"] = "All users";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    @if (user.RoleNames.Any())
                    {
                        @string.Join(Environment.NewLine, user.RoleNames)
                    }
                    else
                    {
                        <p class="text-danger">Does not have any roles.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
