@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#main-nav-bar {
    background-color: #000;
}

#bootstrap-override .navbar a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

#bootstrap-override .main-logo{
    background-color:white;
    height:50px;
    padding:2px;
    
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
#bootstrap-override .main-logo:hover{
    background-color:dodgerblue;
}

#bootstrap-override a:hover{
    background-color:dodgerblue;
    
}

.main-logo {
    height: 3em;
}

.missing-people-listings .img-responsive, .wanted-people-listings .img-responsive {
    height: 200px !important;
    width: 200px !important;
}

.text-custom {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
}

.admin-usersmenu-buttons {
    margin-top: 10em;
}

.custom-buttons {
    width: 10em;
}

.search-button {
    margin-top: 3.5em;
    width: 120px;
}

.form-search-margin {
    margin-top: 2px;
}

.custom-hr {
    background-color: #337ab7;
    height: 1.5px;
}

#fixedHeight {
    height: 15em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
